{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
<h1>À propos de moi</h1>
<p>Voici mes loisirs, mes projets et mes ambitions.</p>

<section class="mt-4">
    <h3>Mes passions</h3>
    <p>
        Je suis passionné par les jeux vidéo et l'informatique. 
        J'aime également pratiquer la boxe et le basket, ainsi que suivre les sports automobiles.
    </p>
</section>
{% endblock %}